
/*link and add calender button*/
.meetContainer{
    margin-top: 40px;
}
.topContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between; 
    padding: 8px;
}

.linkContainer{
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 70px;
}
.linkBox{    
    position: relative;
    width: 450px;
    border: 1px solid  var(--dark-blue);
    border-radius: 20px;
    overflow: hidden; 
    box-shadow: 1.5px 1.5px 1px rgba(0,0,0,0.25);
}

/*link input box*/
.linkBox .linkText{
    padding: 8px 40px 8px 30px; 
    font-size: 18px; 
}

/*copy icon*/
.copyButton {
    position: absolute;
    right: 8px; 
    top: 4px; 
    width: 36px;
    height: 32px;
    border: none;
    background-color: transparent; 
    cursor: pointer; 
}

.copyButton:hover {
    transform: scale(1.04); 
    transition: background-color 0.3s, transform 0.3s; 
}

.copyMessage {
    display: none;
    position: relative;
    left: 20px;
    color: black;
    margin-top: 10px;
    font-size: 17px;
    white-space: nowrap;
    width: auto;
}

/*login button*/
.loginButton, .authContainer{
    margin-top: 20px;
}
.loginButton{
    margin-top: 40px;
    padding: 8px 60px; 
    border: 1.5px solid #173386; 
    background-color: #0056b3;  
    color: white;
    border-radius: 20px; 
    text-align: center;
    cursor: pointer;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.loginButton:hover {
    transform: scale(1.03);
    background-color: #006edc;
}


.timezoneWrapper{
    margin-top: 40px;
}

/*Loading message & Error message*/
.loadingMessageContainer, .errorMessageContainer{
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.loadingMessage, .errorMessage{
    font-size: 30px;
}

.authContainer{
    display: flex;
    align-items: center;
    position: relative;
}

.refreshContainer{
    margin-left: 4px;
    background-color: red;
    display: flex;
    flex-direction: column;
}
.refreshButton{
    background-color: white;
    fill: rgb(94, 94, 94);
    border: none;
    width: 35px;
    height: 35px;
    stroke-width: 10px; 
    cursor: pointer;
}

.refreshButton:hover{
    transform: scale(1.05);
}

.refreshMessage{
    display: none;
    white-space: nowrap;
    width: auto;
    position: absolute;
    top: 63px;
    right: -75px;
}


/*event name*/
.eventName{
    font-size: 40px;
    margin-top: 30px;
}



  