.dropdown{
    position: relative;
    display: inline-block;
    margin-top: 40px;
    z-index: 100;
}

.dropdown-toggle{
    background-color: #ffffff;
    border: 1.5px solid #8b8a8a;
    width: 320px;
    height: 56px;
    font-size: 24px;
    cursor: pointer;
    position: relative;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding-left: 20px;
}

.dropdown-toggle:hover{
    background-color: #f5f5f5;
}
.dropdown-toggle.open{
    border: 2px solid #656565;
}

.dropdown-toggle:after{
    color: rgb(77, 77, 77);
    content: "▼";
    position: absolute;
    font-size: 24px;
    right: 12px;
    top: 50%;
    transform: translateY(-48%) scaleX(1.4);
    filter: blur(.2px)
}

.dropdown-toggle.open:after {
    transform: translateY(-50%) scaleX(1.4) rotate(180deg); /* Rotate arrow when open */
}

.plus-icon{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    fill: white;
    background-color: #006edc;
    border-radius: 5px;
}

.dropdown-menu{
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    width: 320px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
}
.dropdown-menu.open{
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0);
}

.dropdown-item{
    display: flex;
    align-items: center;
    background-color: white;
    cursor: pointer;
    text-align: left;
    font-size: 23px;
    padding: 10px 0 10px 17px;
    color: black;
    user-select: none;
    height: 40px;
}

.dropdown-item span{
    margin-left: 5px;
    margin-bottom: 2px;
}

.dropdown-item:hover {
    background-color: #f7f5f5; 
}

input[type="checkbox"]{
    transform: scale(1.6);
    margin-right: 10px;
}
