
.footerContainer{
    background-color: var(--dark-blue);
    height: 220px;
    width: 100%;
    color: white;
    font-weight: bolder;
    font-family: 'sans-serif';
    opacity: .95;
    --content-width: 75%;
}

.content{
    height: max(10vw, 70px);
    max-height: 100px;
    width: var(--content-width);
    padding-top: 40px;
    margin: auto;
    padding-bottom: 10px;
}


.name{
    font-size: max(min(50px, 5vw), 35px);
    font-family: 'Glacial Indifference';
}


.email{
    margin-top: 10px;
    font-size: max(min(22px, 2.5vw), 18px);
}

.bottomContainer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--content-width);
    margin: auto;
}
.copyrightLine{
    margin-top: 20px;
    height: 1px;
    width: 100%;
    background-color: white;
    opacity: .4;
}

.legalContainer{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.privacy, .copyright{
    font-size: max(min(18px, 2.5vw), 15px);
    text-decoration: none;
}

.privacy{
    color: white;
}

@media only screen and (max-width: 600px) {
    .footerContainer {
        --content-width: 80%; 
    }
}





