/* Wrapper for the hourly labels, date labels, and the main grid (not named container bc already used in Meet.css) */

.gridVertical{
    position: absolute;
    top: 480px;
    left: 50%; 
    transform: translateX(-50%); 
    margin-bottom: 100px;
    min-width: calc(5.5vw*7) !important; /*each cell is 5.5vw with 2px border on left/right*/
}


/*arrow buttons*/
.navigationArrows {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
}

.navigationArrows button {
    user-select: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 50px; 
    background: none;
    border: none;
}
.navigationArrows .eventName{
    font-size: 40px;
    padding-bottom: 2px;
}
.navigationArrows button:not(:disabled):hover{
    cursor: pointer;
    transform: scale(1.1);
}

.mainWrapper{
    display: flex;
}
.gridAndDatesWrapper{
    display: flex;
    flex-direction: column;
}

.hourlyLabels {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 42px;
    right: 20px;
}

.hourlyLabel {
    height: 84px;  /*row height * 60*/
    text-align: right;
    font-size: 20px;
}

.grid {
    display: flex;
    flex-direction: row;
    border-left: 2px solid black;
    cursor: pointer;
}

.gridCol{
    display: flex;
    flex-direction: column;
}

.dateLabels {
    display: flex;
    cursor: default;
    padding-bottom: 2px;
}

.dateLabel {
    flex: 0 0 auto;
    width: 5.5vw;
    text-align: center;
    font-size: 20px;
    
}


.gridCell {
    flex: 0 0 auto;
    width: 5.5vw;
    border-right: 2px solid black;  /* Vertical lines between cells */
    background-color: gray;
    box-sizing: border-box;
    cursor: pointer;
}

.gridCell:hover{
    transform: scale(1.005);
}



/*users*/
.availabilityWrapper, .allUsersWrapper{
    top: 600px;
    position: absolute; /*relative to viewport*/
}
.usersHeading{
    font-size: 32px;
}

/*all users*/
.allUsersWrapper{
    left: 13%;
    transform: translateX(-50%);
}

/*availibility info*/
.availabilityWrapper{
    width: 300px;
    left: 85%;
    transform: translateX(-50%);
}

.timeInterval{
    font-size: 23px;
}
.userName{
    font-size: 23px;
}
