/* Wrapper for the hourly labels, date labels, and the main grid (not named container bc already used in Meet.css) */

.component-container{
    font-family: 'Glacial Indifference', sans-serif;
}
.grid-wrapper {
    position: absolute;
    top: 400px;
    left: 24%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 100px;
    margin-right: 40px;
}

/*arrow buttons*/
.navigation-arrows {
    position: absolute;
    top: 320px; 
    left: 21.4%;
    text-align: center; 
    display: flex;
    width: 728px;
    justify-content: space-around;
}

.navigation-arrows button {
    font-family: 'Roboto Mono', monospace;
    font-size: 50px; 
    background: none;
    border: none;
}
.event-name{
    font: 40px;
}
.navigation-arrows button:not(:disabled):hover{
    cursor: pointer;
    transform: scale(1.1);
}

.hourly-labels {
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    padding-right: 10px;  
}

.hourly-label {
    height: 120px;  /*row height * 60*/
    text-align: right;
}

.grid {
    display: flex;
    flex-direction: column;
}
.grid:hover{
    cursor: pointer;
}

.date-labels {
    display: flex;
    cursor: default;
}

.date-label {
    flex: 1;
    text-align: center;
    border-bottom: 2px solid black; 
    padding: 5px;
}

.grid-row {
    display: flex;
    height:  2px;  
}



.grid-cell {
    flex: 1;
    width: 70px;
    border-right: 2px solid black;  /* Vertical lines between cells */
    background-color: gray;
    transition: background 0.1s ease;
}



/*users*/
.availability-wrapper, .all-users-wrapper{
    top: 430px;
    position: absolute; /*relative to viewport*/
}
.users-heading{
    font-size: 30px;
}

/*all users*/
.all-users-wrapper{
    left: 13%;
}

/*availibility info*/
.availability-wrapper{
    left: 74%;
    width: 275px;
}

.time-interval{
    font-size: 20px;
}
.user-name{
    font-size: 20px;
}
