/* Wrapper for the hourly labels, date labels, and the main grid (not named container bc already used in Meet.css) */

.componentContainer{
    font-family: 'Glacial Indifference', sans-serif;
}

.gridWrapper{
    display: flex;
    flex-direction: column;
}
.gridVertical{
    position: absolute;
    top: 330px;
    left: 50%; 
    transform: translateX(-50%); 
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    min-width: calc(5.5vw*7) !important; /*each cell is 5.5vw with 2px border on left/right*/
}


/*arrow buttons*/
.navigationArrows {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
}

.navigationArrows button {
    user-select: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 50px; 
    background: none;
    border: none;
}
.navigationArrows .eventName{
    font-size: 40px;
    padding-bottom: 25px;
}
.navigationArrows button:not(:disabled):hover{
    cursor: pointer;
    transform: scale(1.1);
}

.hourlyLabels {
    display: flex;
    flex-direction: column;
    padding-right: 10px;  
    position: absolute;
    top: 472px;
    right: 69.6vw;
}

.hourlyLabel {
    height: 84px;  /*row height * 60*/
    text-align: right;
}

.grid {
    display: flex;
    flex-direction: row;
    border-left: 2px solid black;
    cursor: pointer;
}

.gridCol{
    display: flex;
    flex-direction: column;
}

.dateLabels {
    display: flex;
    cursor: default;
    border-bottom: 2px solid black;
}

.dateLabel {
    flex: 0 0 auto;
    width: 5.5vw;
    text-align: center;
}


.gridCell {
    flex: 0 0 auto;
    width: 5.5vw;
    border-right: 2px solid black;  /* Vertical lines between cells */
    background-color: gray;
    box-sizing: border-box;
    z-index: 1000;
    cursor: pointer;
}



/*users*/
.availabilityWrapper, .allUsersWrapper{
    top: 450px;
    position: absolute; /*relative to viewport*/
}
.usersHeading{
    font-size: 30px;
}

/*all users*/
.allUsersWrapper{
    left: 13%;
    transform: translateX(-50%);
}

/*availibility info*/
.availabilityWrapper{
    width: 275px;
    left: 85%;
    transform: translateX(-50%);
}

.timeInterval{
    font-size: 20px;
}
.userName{
    font-size: 20px;
}
