/* Wrapper for the hourly labels, date labels, and the main grid (not named container bc already used in Meet.css) */

.component-container{
    font-family: 'Glacial Indifference', sans-serif;
}

.grid-wrapper{
    display: flex;
    flex-direction: column;
}
.grid-vertical{
    position: absolute;
    top: 330px;
    left: 50%; 
    transform: translateX(-50%); 
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    min-width: calc(5.5vw*7) !important; /*each cell is 5.5vw with 2px border on left/right*/
}


/*arrow buttons*/
.navigation-arrows {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
}

.navigation-arrows button {
    user-select: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 50px; 
    background: none;
    border: none;
}
.navigation-arrows .event-name{
    font: 40px;
    padding-bottom: 25px;
}
.navigation-arrows button:not(:disabled):hover{
    cursor: pointer;
    transform: scale(1.1);
}

.hourly-labels {
    display: flex;
    flex-direction: column;
    padding-right: 10px;  
    position: absolute;
    top: 472px;
    right: 69.6vw;
}

.hourly-label {
    height: 84px;  /*row height * 60*/
    text-align: right;
}

.grid {
    display: flex;
    flex-direction: row;
    border-left: 2px solid black;
    cursor: pointer;
}

.grid-col{
    display: flex;
    flex-direction: column;
}

.date-labels {
    display: flex;
    cursor: default;
    border-bottom: 2px solid black;
}

.date-label {
    flex: 0 0 auto;
    width: 5.5vw;
    text-align: center;
}


.grid-cell {
    flex: 0 0 auto;
    width: 5.5vw;
    border-right: 2px solid black;  /* Vertical lines between cells */
    background-color: gray;
    box-sizing: border-box;
    z-index: 1000;
    cursor: pointer;
}



/*users*/
.availability-wrapper, .all-users-wrapper{
    top: 450px;
    position: absolute; /*relative to viewport*/
}
.users-heading{
    font-size: 30px;
}

/*all users*/
.all-users-wrapper{
    left: 13%;
    transform: translateX(-50%);
}

/*availibility info*/
.availability-wrapper{
    width: 275px;
    left: 85%;
    transform: translateX(-50%);
}

.time-interval{
    font-size: 20px;
}
.user-name{
    font-size: 20px;
}
