body{
    height: 100vh;
    overflow-y: auto;

}
/*link and add calender button*/
.top-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between; 
    padding: 8px;
    position: relative; /*for link message child*/
}

.link-box{
    position: relative; /*for copy button child*/
    width: 32%;
    margin-top: 30px;
    border: 1px solid #173386;
    border-radius: 20px;
    overflow: hidden; 
}

/*link input box*/
.link-box .link-text{
    padding: 8px 40px 8px 30px; 
    font-size: 16px; 
}

/*copy icon*/
.copy-button {
    position: absolute;
    right: 8px; 
    top: 4px; 
    width: 36px;
    height: 32px;
    border: none;
    background-color: transparent; 
    cursor: pointer; 
}

.copy-button:hover {
    transform: scale(1.04); 
    transition: background-color 0.3s, transform 0.3s; 
}

#copy-message {
    display: none; /* Hidden by default */
    color: black;
    margin-top: 10px;
    font-size: 15px;
    position: absolute;
    top: 70px;
}

/*add calendar button*/
.add-calendar-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%; 
    margin-top: 40px;
    padding: 8px 10px; 
    border: 1px solid #173386; 
    background-color: white;
    border-radius: 20px; 
    font-size: 18px; 
    text-align: center;
    cursor: pointer;
}

.top-container .add-calendar-button:hover {
    background-color: #0056b3; 
    color: white;
}

.plus-icon{
    margin-right: 10px;
    width: 28px;
    height: 28px;
    fill: white;
    background-color: #006edc;
    border-radius: 5px;
}

/*Loading message & Error message*/
#loading-message, #error-message{
    position: absolute;
    top: 180px; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
}


/*event name*/
.event-name{
    font-size: 40px;
    margin-top: 30px;
}


/* Dropdown styling */
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-toggle {
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
}
  
.dropdown-menu {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-item:hover {
    background-color: #ddd;
}
  