.navbarContainer {
    top: 0; 
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(250, 250, 250);
    z-index: 1000;
    box-shadow: 3px 3px 2px rgb(0,0,0,.05);
    
}
.navbarTitle {
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 70px;
    font-weight: bold;
    color: #173386;
    text-decoration: none;
}

.logoutButton{
    position: absolute;
    top: 55px;
    right: 60px;
    font-size: 27px;
    font-family: "Glacial Indifference";
    letter-spacing: 1px;
    cursor: pointer;
    color: rgb(58, 58, 58);
}

.logoutButton:hover{
    color: black;
    text-shadow: .3px .3px black;
}



@media only screen and (max-width: 500px) {
    .navbarTitle{
        font-size: 15vw;
    }
}