body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    font-size: 1.2rem;
}

.policyHeader {
    text-align: center;
    margin-bottom: 2rem;
}

.policyHeader h1 {
    margin-bottom: 0.5rem;
}

.policyHeader h3 {
    color: gray;
}

.policyContainer {
    position: relative;
    width: 50%;
    padding-top: 10%;
    padding-bottom: 2%;
    box-sizing: border-box;
    margin: 0 auto;
}
