:root{
    --timezone-dropdown-width: 90px;
}
.timezoneSelectorContainer{
    position: relative;
    width: var(--timezone-dropdown-width);
    height: var(--time-input-height);
}

.dropdown{
    position: absolute;
    font-size: var(--time-input-font-size);
    cursor: pointer;
    z-index: 99;
    user-select: none;
}

.dropdownToggle{
    position: relative;
    background-color: #F0F0F0;
    width: var(--timezone-dropdown-width);
    height: var(--time-input-height);
    text-align: center;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.25);
}

.dropdownToggle.open{
    background-color: #e8e4e4;
}

.dropdownToggle:hover{
    background-color: #cfcdcd;
}


.toggleText, .dropdownItemText{
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

.dropdownArrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4px;
}
.dropdownArrow.open{
    transform: rotate(180deg) translateY(50%);
}

.dropdownContent{
    width: var(--timezone-dropdown-width);
    max-height: 220px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.25);
}
.dropdownContent::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.dropdownItem{
    position: relative;
    background-color: #F0F0F0;
    height: var(--time-input-height);
}

.dropdownItem.highlighted{
    background-color: #173386;
    color: white;
}

@media only screen and (max-width: 550px) {
    :root{
        --timezone-dropdown-width: min(90px, 18vw);
    }

    .dropdownArrow{
        width: max(17px, min(5vw, 24px));
        height: max(17px, min(5vw, 24px));
        right: .6vw;
    }

    .toggleText, .dropdownItemText{
        left: 4vw;
    }
}





