
/* Styling for react-calendar */
:root{
    --tile-height:  min(4.7vw, 60px);
    --calendar-base-height: 345px;
}

.react-calendar {
    border: none;
    flex-grow: 1;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: min(30vw, 550px); /*for some reason width does nothing. In this scenario, max-width means width*/
    min-width: 400px;
    padding-bottom: 10px;
    font-family: "Glacial Indifference";
    margin-left: 0px;
    touch-action: none;
}

.react-calendar.rows-4{
    max-height: var(--calendar-base-height);
}
.react-calendar.rows-5{
    max-height: calc(var(--calendar-base-height) + var(--tile-height));
}
.react-calendar.rows-6{
    max-height: calc(var(--calendar-base-height) + 2*var(--tile-height));
}

.react-calendar__month-view__weekdays{
    font-family: "Glacial Indifference";
    font-size: 17.5px;
}

.react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
}


.react-calendar__tile {
    height: var(--tile-height);
    position: relative;
    font-size: 1.2em;
}
.react-calendar__tile > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.react-calendar__navigation__label, .react-calendar__navigation__arrow{
    color: black; /*fix iOS blue font?*/
}

.react-calendar__navigation__label {
    pointer-events: none;
}
.react-calendar__navigation__arrow{
    background-color: white !important;
}
.react-calendar__navigation__arrow:hover{
    background-color: rgb(214, 214, 214) !important;
}

.react-calendar__navigation__label, .react-calendar__navigation__arrow {
    padding: 5px;
    font-size: 1.2em;
}
.react-calendar__month-view__days__day--weekend {
    color: rgb(224, 4, 4) !important;
}

.react-calendar__tile.selected {
    background-color: #006edc !important;
    color: white !important;
}

.react-calendar__tile.unselected:hover{
    background-color: rgba(82, 166, 250, 0.4) !important; 
}
.react-calendar__tile.unselected{
    background-color: white !important;  
    color: black;
}
.react-calendar__tile--now.unselected {
    background: #ffff76 !important;
}


.react-calendar__month-view__days__day--neighboringMonth.react-calendar__month-view__days__day.unselected{
    color: rgba(0, 0, 0, 0.4) !important;
 }

.react-calendar__month-view__days__day--neighboringMonth.react-calendar__month-view__days__day--weekend.unselected{
   color: rgba(224, 4, 4, 0.4) !important;
}






@media only screen and (max-width: 1200px) {
    :root{
        --calendar-base-height: 310px;
        --tile-height: 50px;
    }
    .react-calendar__tile{
        width: 60px;
    }
}

@media only screen and (max-width: 600px){
    :root{
        --calendar-base-height: min(75vw, 310px);
        --tile-height: min(11vw, 50px);
    }

    .react-calendar{
        min-width: 70vw; /*for some reason width does nothing. In this scenario, min-width means width*/
    }

    .react-calendar__month-view__weekdays{
        font-size: min(3.7vw, 17px);
    }

    .react-calendar__tile{
        font-size: min(1.2em, 5vw);
    }

    .react-calendar__navigation__label, .react-calendar__navigation__arrow{
        font-size: min(1.2em, 5.4vw);
    }

}