:root{
    --main-box-shadow: 2px 2px 3px rgba(0,0,0,0.25);
    --dark-blue: #173386;
    --button-gray: #f4f4f4;
    --time-input-height: 40px;
    --time-input-font-size: 22px;
}

.mainContainer{
    height: max(80vh, 600px);
    display: flex;
    align-items: center;
}

.contentContainer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 140px;
    margin-bottom: 140px;
    height: 465px;
}


/*RIGHT SIDE*/

.formContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
    height: 300px; 
    text-align: center; 
    width: auto;
    min-width: 500px;
    max-width: 900px;
}

.formContainer input{
    background-color: var(--button-gray);
    border: none;
}
.eventInput {
    width: 50%; 
    max-width: 360px;
    font-size: 23px;
    margin-bottom: 55px; 
    padding: 12px 20px;
    border-radius: 30px;
    text-align: center;
    font-family: inherit;
    box-shadow: var(--main-box-shadow);
}


.timeInputs {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%; 
    flex-wrap: none;
    transform: translateX(calc(var(--timezone-dropdown-width)/2));
}

.timeField {
    width: max(5vw, 83px);
    max-width: 100px;
    height: var(--time-input-height);
    border: none;
    font-size: var(--time-input-font-size);
    margin-right: max(9px, min(.9vw, 20px));
    text-align: center;
    font-family: inherit;
    padding: 0;
    box-shadow: var(--main-box-shadow);
}

.timeField:hover{
    transform: scale(1.05);
}

.dash{
    margin: 0 min(1.8vw, 35px);
    width: 15px;
    min-width: 12px;
    height: 2px; 
    background-color: black; 
    align-self: center; 
}


.toggleButton {
    height: var(--time-input-height);
    width: max(3vw, 45px); 
    max-width: 70px;
    font-size: var(--time-input-font-size);
    font-family: inherit;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: none;
    box-shadow: var(--main-box-shadow);
    background-color: var(--button-gray);
    color: #333;
}

.toggleButton.active {
    box-shadow: 2px 2.5px 3px rgba(0,0,0,0.3);
    background-color: var(--dark-blue);
    color: white;
}

.toggleButton:focus {
    outline: none;
}
.toggleButton:hover{
    transform: scale(1.05);
}

.timezoneContainer{
    margin-left: 20px;
}

.connectButton {
    background-color: var(--dark-blue) ; 
    color: white;
    border: none;
    padding: 15px 30px; 
    border-radius: 30px; 
    cursor: pointer;
    font-weight: bold;
    font-size: 22px; 
    margin-top: 70px;
    width: 300px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.25); 
    transition: background-color 0.3s;
}

.connectButton:hover {
    background-color: #0c5daa; 
}



.hiddenInput:invalid{
    box-shadow: none;
}


@media only screen and (max-width: 1400px) {
    .formContainer{
        margin-right: 2.5vw;
    }
}

@media only screen and (max-width: 1200px) {
    .mainContainer{
        height: auto;
    }

    .contentContainer {
        margin-top: 100px;
        flex-direction: column;
        align-items: center;
        height: 800px;
    }

    .formContainer{
        margin-top: 80px;
        margin-right: 2.5vw;
        width: 400px;
    }

    .timeInputs{
        width: 90%; 
        transform: none;
        flex-wrap: wrap;
    }

    .timezoneContainer{
        margin-left: 0;
        margin-top: 30px;
    }

}


@media only screen and (max-width: 550px) {
    :root{
        --time-input-height: max(30px, min(7vw, 40px));
        --time-input-font-size: max(17px, min(5vw, 22px));
    }
    .formContainer, .inputs{
        width: 88vw;
        min-width: 70vw;
    }
    .eventInput {
        font-size: 16px;
    }
    
    .timeField {
        width: 15vw;
    }
    .toggleButton{
        width: 8vw;
    }
    .timeField, .toggleButton{
        font-size: min(5vw, 22px);
    }

    .dash{
        margin: 0 3%;
        width: 10px; 
    }
    
    .connectButton {
        padding: 10px 20px; 
        border-radius: 25px; 
        font-size: 20px; 
        margin-top: 40px;
        width: 50vw; 
    }

}